@cell-height: 60px;

.hypertable__cell {
  border-bottom: 1px solid lighten(@upf-gray, 15%);
  border-left: 1px solid lighten(@upf-gray, 15%);
  border-right: 1px solid lighten(@upf-gray, 15%);
  display: flex;
  align-items: center;
  background-color: white;

  height: @cell-height;
  max-height: @cell-height;
  padding: @spacing-xx-sm;
  width: calc(100% + 2px);

  .tooltip > .tooltip-inner {
    padding: 5px;
  }

  .ember-flatpickr-input {
    background-color: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
    width: 90%;
    box-shadow: none;
    font-size: inherit;
    color: inherit;
    &.active {
      padding: 4px;
      margin-left: -5px;
      margin-top: 0px;
      border: 1px solid @upf-gray-light;
    }
  }

  &.email {
    background-color: white;
    .text-value:hover {
      color: @upf-primary-bright-purple;
      text-decoration: underline;
    }

    .tooltip {
      display: none !important;
    }
  }

  .cell-container {
    width: 100%;
    display: flex;
    align-items: center;
    &.editing {
      .editing-input {
        width: 70%;
        max-width: 200px;
      }
    }
    &.empty-value {
      color: @color-text-lighter;
      span:first-child {
        &:hover {
          color: @color-text;
          + .status-container {
            color: @color-text;
          }
        }
      }
    }
  }

  .editing-input {
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;

    div {
      text-overflow: ellipsis;
      overflow: hidden;
    }

    &__field {
      width: 100%;
      padding: 5px 4px;
      font-size: inherit;
      height: auto;
    }
  }

  //live edit input state management: TODO REFACTOR
  .cell-container.is-upsertable {
    &:not(.empty-value) {
      span:first-child {
        display: none;
      }

      &:not(.editing):not(.error) {
        .editing-input input:not(.ember-flatpickr-input) {
          display: none;
        }
      }

      &.editing,
      &.error {
        .text-value {
          display: none;
        }
      }
    }
    &.empty-value {
      .editing-input input {
        display: none;
      }
      &.saving {
        span:first-child {
          display: none;
        }
        .text-value {
          display: block;
        }
      }
      &.editing,
      &.error {
        span:first-child {
          display: none;
        }
        .editing-input input {
          display: block;
        }
        .text-value {
          display: none;
        }
      }
    }
  }

  .list-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: @spacing-xxx-sm @spacing-xx-sm;
    border-radius: @default-radius;
    position: relative;

    > div:first-child {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .list-elements {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      min-width: 75px;
      padding-left: 1em;
    }

    &.tether-enabled {
      border: 1px solid lighten(@upf-gray, 15%);
      z-index: 11;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      background-color: @field-background-color;
      margin-left: -1px;

      .tooltip {
        display: none !important;
      }

      .list-elements {
        margin-right: -2px;
      }
    }
  }

  .form-control:focus {
    box-shadow: none;
    border-color: @upf-primary-bright-purple;
  }

  .is-invalid > .form-control {
    border-color: @upf-feedback-error;
    &:focus {
      border-color: @upf-feedback-error;
    }
  }

  .fa {
    font-size: 1.5rem;
    cursor: pointer;
  }

  .fa-pencil.cell-edition {
    opacity: 0;
  }

  &:hover {
    .fa-pencil.cell-edition {
      opacity: 1;

      &.delayed {
        visibility: hidden;
      }
    }
  }

  .fa-pencil.delayed {
    animation: scaleIn 0.3s ease forwards;
    animation-delay: 1.4s;
  }

  .status-container {
    position: relative;
    .fa,
    .upf-icon--check,
    .upf-loading {
      position: absolute;
      padding: @spacing-xxx-sm;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
    }
    .upf-loading {
      width: 100px;
      .spinner {
        width: auto;
        margin: 0 0 0 @spacing-xx-sm;
        > div {
          width: 6px;
          height: 6px;
        }
      }
    }
  }

  .link__value {
    background-color: @field-background-color;
    padding: 4px @spacing-xx-sm;
    color: @text-color;
    border-radius: @default-radius;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 5px;
    white-space: nowrap;
  }

  .link__copy {
    position: relative;
    display: flex;
    align-items: center;
    background-color: @upf-gray-light;
    height: 30px;
    padding: @spacing-xxx-sm;

    &:hover {
      background-color: @upf-gray;
    }
  }

  .upf-icon--check {
    background-color: white;
    animation: fadeIn 1.5s ease forwards;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    80% {
      transform: translate(-50%, -50%) scale(1);
    }
    100% {
      transform: translate(-50%, -50%) scale(0);
      visibility: hidden;
    }
  }

  @keyframes scaleIn {
    from {
      transform: translate(-50%, -50%) scale(0);
      visibility: visible;
    }
    to {
      transform: translate(-50%, -50%) scale(1);
      visibility: visible;
    }
  }
}

.hypertable__cell--selected,
.hypertable__cell--hovered {
  background-color: lighten(@color-text-lighter, 20%) !important;
  .upf-icon--check {
    background-color: @upf-gray-light;
  }
}

.hypertable__cell--deleted {
  transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out, background-color 0.3s ease-in-out;
  opacity: 0;
  height: 0;
  overflow: hidden;
  padding-top: 0;
  padding-bottom: 0;
  border: 0;
  background-color: @upf-feedback-error !important;
}

.hypertable__cell--clickable {
  cursor: pointer;
}

.hypertable__cell--loading .skeleton-placeholder {
  height: 10px;
  animation: skeleton-content 1.2s ease-in-out infinite;
  background-color: #eee;
  background-image: linear-gradient(90deg, #eee, #f5f5f5, #eee);
  background-size: 200px 100%;
  background-repeat: no-repeat;
  border-radius: @default-radius;
  display: inline-block;
  line-height: 1;
  width: 100%;
}

.expandable-list {
  position: absolute;
  left: 0;
  right: 0;
  top: 30px;
  z-index: 10;
  background-color: white;
  padding-top: @spacing-xx-sm;
  padding-bottom: @spacing-xx-sm;
  box-shadow: 0px 0.6rem 1.2rem rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: @default-radius;
  border-bottom-right-radius: @default-radius;
  opacity: 0;
  overflow-y: hidden;
  width: 226px;
  animation: slideDown 0.45s ease-in-out forwards;

  .expandable-list__item {
    padding: @spacing-xx-sm @spacing-x-sm;
    cursor: pointer;

    &:hover {
      background-color: @upf-gray-light;
    }

    &--loading {
      padding: @spacing-xxx-sm @spacing-x-sm;

      .item {
        animation: skeleton-content 1.2s ease-in-out infinite;
        background-color: #eee;
        background-image: linear-gradient(90deg, #eee, #f5f5f5, #eee);
        background-size: 200px 100%;
        background-repeat: no-repeat;
        border-radius: @default-radius;

        height: 10px;
        width: 100%;
      }
    }
  }

  &--visible {
    opacity: 1;
  }

  @keyframes slideDown {
    0% {
      overflow-y: hidden;
      max-height: 0;
    }
    90% {
      max-height: 155px;
      overflow-y: hidden;
    }
    100% {
      max-height: 155px;
      overflow-y: auto;
    }
  }
}

.tether-out-of-bounds {
  display: none;
}

.success-tooltip + .tooltip {
  & > .tooltip-inner {
    background-color: @upf-feedback-success;
  }

  & > .tooltip-arrow {
    border-top-color: @upf-feedback-success;
  }
}
