.hypertable__column {
  position: relative;
  opacity: 1;
  transition: all 0.125s;
  height: fit-content;
  width: 100%;

  &--size-XS {
    min-width: 125px;
  }

  &--size-S {
    min-width: 170px;
  }

  &--size-M {
    min-width: 250px;
  }

  &--size-L {
    min-width: 350px;
  }

  &--size-XL {
    min-width: 450px;
  }

  &:first-child,
  &:nth-child(2) {
    .hypertable__cell {
      border-left: none;
    }
  }

  &:nth-child(2) header {
    border-left: none;
  }

  &--sticky-right {
    position: sticky;
    right: 0;
    z-index: 20;
  }

  // Animate Columns Drag & Drop
  &.is-dragging {
    transition-duration: 0s;
    background-color: var(--color-white);
    z-index: 17;
    box-shadow: var(--box-shadow-lg);
    border-right: 1px solid var(--color-border-default);

    header {
      cursor: grabbing;
    }
  }

  &.is-dropping {
    opacity: 1;
  }
}

.hypertable__column header {
  display: flex;
  align-items: center;
  z-index: 15;
  height: @cell-height;
  max-height: @cell-height;
  padding: var(--spacing-px-12) var(--spacing-px-18);
  border-left: 1px solid var(--color-border-default);
  border-bottom: 1px solid var(--color-border-default);
  width: 100%;

  background-color: var(--color-gray-100);
  cursor: grab;
  text-transform: capitalize;

  justify-content: space-between;
  position: sticky;
  top: 0;

  transition: all 0.25s ease-in-out;

  & > .cell-header {
    color: var(--color-gray-600);
    font-size: 16 / @rem;
    font-weight: var(--font-weight-semibold);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    .header-title-container {
      display: flex;
      align-items: center;
      gap: var(--spacing-px-6);

      .field-title {
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .subtitle {
      font-weight: normal;
      text-transform: initial;
      text-overflow: ellipsis;
      overflow: hidden;

      &:first-letter {
        text-transform: capitalize;
      }
    }
  }

  .filter-command {
    display: none;
    margin-left: var(--spacing-px-6);

    &--opened {
      display: flex;
      box-shadow: 0px 0px 0px 2px var(--color-primary-100);

      i {
        color: var(--color-gray-900);
      }

      &::after {
        display: none;
      }
    }
  }

  .order-command {
    display: none;
  }

  &:hover {
    background-color: var(--color-gray-200);

    .order-command {
      display: flex;
    }

    .filter-command {
      display: flex;
    }
  }
}

.hypertable__column--selection {
  width: 40px;
  min-width: 40px;
  flex-grow: 0;

  header {
    border-right: none;
    padding: var(--spacing-px-12);
  }

  .hypertable__cell {
    border-right: none;
  }
}

.hypertable__column--filtered header,
.hypertable__column--ordered header {
  .filter-command {
    display: flex;
    position: relative;
    border-color: var(--color-primary-500);
    background-color: var(--color-primary-50);

    &::after {
      content: '';
      position: absolute;
      border: 1px solid var(--color-gray-100);
      top: -4px;
      right: -5px;
      width: 10px;
      height: 10px;
      background: var(--color-primary-500);
      border-radius: 50%;
    }

    i {
      color: var(--color-primary-500);
    }

    &:hover {
      box-shadow: 0px 0px 0px 2px var(--color-primary-100);
      background-color: var(--color-primary-500);

      i {
        color: var(--color-white);
      }
    }

    &--opened {
      i {
        color: var(--color-primary-500);
      }

      &::after {
        display: block;
      }
    }
  }
}

.hypertable__column--numeric .hypertable__cell {
  .cell-container:not(.empty-value) {
    justify-content: flex-end;
  }

  .editing-input__field {
    width: 70px;

    &--select {
      width: 50px;
      margin-right: 7px;
    }
  }
}

.hypertable__column--text .hypertable__cell {
  .editing-input,
  .text-value {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

.hypertable__column--list .hypertable__cell {
  & > div:first-child {
    width: 100%;
  }

  .editing-input {
    display: flex;
    justify-content: space-between;
  }
}

.hypertable__column--image .hypertable__cell {
  display: flex;
  align-items: center;

  & > div:nth-child(2) {
    margin-left: var(--spacing-px-12);

    span {
      color: var(--color-gray-900);
      display: block;
      width: 90%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    span:not(:first-child) {
      color: var(--color-gray-400);
    }
  }
}

//
// Available Filters Container
// ===========================
//
// This container is placed outside of the table cell because it's handled by
// Tether.js, positioning it at the body tag level.
//
.available-filters {
  background-color: var(--color-white);
  border: 1px solid var(--color-border-default);
  border-radius: var(--border-radius-sm);
  box-shadow: var(--box-shadow-sm);

  min-width: 300px;
  width: 300px;

  padding: var(--spacing-px-12);
  z-index: 20;
  transform-origin: 95% top;
  max-height: 0;
  overflow: hidden;
  opacity: 0;

  .filters {
    display: flex;
    flex-direction: column;
    padding-top: var(--spacing-px-12);

    .filters__option {
      padding: var(--spacing-px-6);

      &:hover {
        background-color: var(--color-gray-100);
        cursor: pointer;
      }
    }

    .filters__option--active {
      background-color: var(--color-gray-100);
      font-weight: bold;
    }
  }

  &--visible,
  &.js--visible {
    animation: openFilters 0.3s ease-out forwards;
  }

  @keyframes openFilters {
    10% {
      opacity: 1;
    }
    99% {
      opacity: 1;
      max-height: 500px;
      overflow: hidden;
    }
    100% {
      opacity: 1;
      max-height: 500px;
      overflow: auto;
    }
  }
}
