.hypertable__column {
  opacity: 1;
  transition: all 0.125s;
  height: fit-content;

  &--size-XS {
    min-width: 125px;
    width: 2rem;
    flex-grow: 125;
  }

  &--size-S {
    min-width: 170px;
    width: 3rem;
    flex-grow: 150;
  }

  &--size-M {
    min-width: 250px;
    width: 4rem;
    flex-grow: 250;
  }

  &--size-L {
    min-width: 350px;
    width: 5rem;
    flex-grow: 350;
  }

  &--size-XL {
    min-width: 450px;
    width: 6rem;
    flex-grow: 450;
  }

  &:first-child,
  &:nth-child(2) {
    .hypertable__cell {
      border-left: none;
    }
  }

  // Animate Columns Drag & Drop
  &.is-dragging {
    transition-duration: 0s;
    background-color: var(--color-white);
    z-index: 17;
    box-shadow: var(--box-shadow-lg);
    border-right: 1px solid var(--color-border-default);
  }

  &.is-dropping {
    opacity: 1;
  }

  header {
    border-left: 1px solid var(--color-border-default);
    border-bottom: 1px solid var(--color-border-default);
  }
  &:nth-child(2) header {
    border-left: none;
  }

  &--sticky-right {
    position: sticky;
    right: 0;
    z-index: 20;
  }
}

.hypertable__column header {
  display: flex;
  align-items: center;
  z-index: 15;
  height: @cell-height;
  max-height: @cell-height;
  padding: var(--spacing-px-12);
  width: 100%;

  background-color: var(--color-gray-100);
  cursor: pointer;
  text-transform: capitalize;

  justify-content: space-between;
  position: sticky;
  top: 0;

  & > .cell-header {
    color: var(--color-gray-500);
    font-size: 16 / @rem;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    .header-title-container {
      display: flex;
      align-items: center;

      .field-title {
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-right: var(--spacing-px-6);
      }
    }

    .subtitle {
      font-weight: normal;
      text-transform: initial;
      text-overflow: ellipsis;
      overflow: hidden;

      &:first-letter {
        text-transform: capitalize;
      }
    }
  }

  & > .icon-commands {
    position: absolute;
    right: var(--spacing-px-12);
    color: var(--color-gray-400);

    display: flex;
    flex-direction: row;
    align-items: center;

    i {
      opacity: 0;
      font-size: 16 / @rem;
      &.fa-bars {
        padding: var(--spacing-px-6) 0;
      }
      &.fa-filter {
        padding: var(--spacing-px-12);
      }
    }

    i:hover,
    i:active {
      color: var(--color-gray-900);
      cursor: pointer;
    }

    i.fa-bars {
      cursor: move;
    }
  }

  &:hover {
    background-color: var(--color-gray-200);
    .cell-header {
      margin-right: 55px;
    }
    .icon-commands i {
      opacity: 1;
      display: block;
    }
  }
}

.hypertable__column--selection {
  width: 40px;
  min-width: 40px;
  flex-grow: 0;

  header {
    border-right: none;
  }

  .hypertable__cell {
    border-right: none;
  }
}

.hypertable__column--ordered {
  & > header {
    .fa-filter {
      opacity: 1;
      display: inline-block;
      color: var(--color-gray-900);
    }

    .fa-bars {
      color: var(--color-gray-900);
    }

    .cell-header {
      margin-right: 40px;
      .order-direction {
        color: var(--color-gray-900);
        font-family: 'FontAwesome';
        font-size: 20 / @rem;
      }
    }
  }
}

.hypertable__column--filtered {
  & > header {
    .icon-commands .fa-filter {
      color: var(--color-gray-900);
      display: block;
      font-weight: bold;
      opacity: 1;
    }

    .cell-header {
      margin-right: 55px;
    }
  }
}

.hypertable__column--numeric .hypertable__cell {
  .cell-container:not(.empty-value) {
    justify-content: flex-end;
  }

  .editing-input__field {
    width: 70px;

    &--select {
      width: 50px;
      margin-right: 7px;
    }
  }
}

.hypertable__column--text .hypertable__cell {
  .editing-input,
  .text-value {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

.hypertable__column--list .hypertable__cell {
  & > div:first-child {
    width: 100%;
  }

  .editing-input {
    display: flex;
    justify-content: space-between;
  }
}

.hypertable__column--image .hypertable__cell {
  display: flex;
  align-items: center;

  & > div:nth-child(2) {
    margin-left: var(--spacing-px-12);

    span {
      color: var(--color-gray-900);
      display: block;
      width: 90%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    span:not(:first-child) {
      color: var(--color-gray-400);
    }
  }
}

//
// Available Filters Container
// ===========================
//
// This container is placed outside of the table cell because it's handled by
// Tether.js, positioning it at the body tag level.
//
.available-filters {
  background-color: var(--color-white);
  border: 1px solid var(--color-border-default);
  border-radius: var(--border-radius-sm);
  box-shadow: var(--box-shadow-sm);

  min-width: 300px;
  width: 300px;

  padding: var(--spacing-px-12);
  z-index: 20;
  transform-origin: 95% top;
  max-height: 0;
  overflow: hidden;
  opacity: 0;

  .filters {
    padding-top: var(--spacing-px-12);

    .filters__option {
      padding: var(--spacing-px-6);

      &:hover {
        background-color: var(--color-gray-100);
        cursor: pointer;
      }
    }

    .filters__option--active {
      background-color: var(--color-gray-100);
      font-weight: bold;
    }
  }

  &--visible,
  &.js--visible {
    animation: openFilters 0.3s ease-out forwards;
  }

  @keyframes openFilters {
    10% {
      opacity: 1;
    }
    99% {
      opacity: 1;
      max-height: 500px;
      overflow: hidden;
    }
    100% {
      opacity: 1;
      max-height: 500px;
      overflow: auto;
    }
  }
}
