.hypertable-footer {
  background-color: @upf-primary-white;
  box-shadow: 0px 0px 0.6rem fadeout(@upf-primary-black, 80%);

  display: flex;
  align-items: center;

  height: 60px;
  width: 100%;

  left: 0;
  position: absolute;

  .hypertable-footer-content {
    display: flex;
    width: 100%;
  }
}

.hypertable-footer__title {
  color: @upf-primary-bright-purple;
  font-size: 24/@rem;
  font-weight: 600;
  margin: 0 @spacing-sm;
}

.hypertable-footer__stats-container {
  display: flex;
  flex-grow: 1;

  .content {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;

    padding: 0 @spacing-sm;
    width: 100%;
  }
}

.hypertable-footer__stat {
  display: flex;
  align-items: center;

  .title {
    color: @upf-primary-rock-blue;
    text-transform: uppercase;
  }

  .number {
    color: @upf-primary-bright-purple;
    font-size: 24/@rem;
    margin-left: @spacing-xxx-sm;
  }
}

.hypertable-footer__stats-separator {
  height: 50%;
  width: 1px;
  background-color: @upf-primary-rock-blue;
}
