@import 'oss-components';

/*
 * Hypertable's Upper Header
 * ========================
 * Access to actions allowing the user to modify the current state of the
 * datatable.
 *
 */
.hypertable__upper-header {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-px-24) 0 var(--spacing-px-18);
  justify-content: space-between;
  position: relative;
  z-index: 2;

  button.icon-responsive {
    @media screen and (max-width: 1430px) {
      span {
        display: none;
      }
    }
  }

  .right-side {
    display: flex;
  }

  .left-side {
    display: flex;
    flex-grow: 1;

    input {
      max-width: 250px;
      min-width: 100px;
    }
  }

  /*
   * Search
   * ======
   *
   */
  .left-side .selected-count {
    background-color: var(--color-gray-400);
    border-radius: var(--border-radius-sm);
    color: var(--color-white);

    display: flex;
    justify-content: center;
    align-items: center;

    height: 36px;
    width: 36px;
    min-width: 36px;
    margin-right: var(--spacing-px-12);
  }

  /*
   * Contextual Actions
   * ===========
   * Contextual actions that show up to act on the selected items
   *
   */
  .left-side .contextual-actions {
    opacity: 0;
    z-index: -1;
    animation: none;

    padding: 0 var(--spacing-px-12);

    &--no-search-sibling {
      border-left: 0;
      margin-left: 0;
      padding: 0;
    }

    &--no-animation {
      display: none !important;
    }

    &--hidden {
      animation: hide-contextual-actions 0.5s 1;
    }

    &--visible {
      animation: show-contextual-actions 0.5s 1;
      z-index: 20;
      opacity: 1;
      display: block;
    }
  }

  /*
   * Available Fields
   * =================
   * Access all available fields and toggle their visibility in the table
   *
   */

  .available-fields-wrapper {
    right: 0;
    flex-direction: row;
    border: 1px solid var(--color-border-default);
  }

  .table-views-wrapper {
    right: 140px;
    padding: var(--spacing-px-12);
    flex-direction: column;
    width: 280px;

    .view-icons {
      .far {
        margin-left: var(--spacing-px-6);
        color: var(--color-gray-400);

        &:hover {
          color: var(--color-gray-900);
        }
      }
    }

    .views-container {
      max-height: 130px;
      overflow-x: auto;
    }

    .view-search-container {
      padding: var(--spacing-px-6);
    }

    .view-line {
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      margin-right: 0.5em;
      padding: var(--spacing-px-6);

      &:hover {
        background-color: var(--color-gray-100);
      }
    }

    .view-name {
      flex: 1;

      &.selected {
        font-weight: bold;
      }
    }

    .add-view-btn {
      width: 100px;
      margin-top: var(--spacing-px-18);
      margin-left: var(--spacing-px-6);
      padding: 0;
    }
  }

  .available-fields-wrapper,
  .table-views-wrapper {
    background-color: var(--color-white);
    box-shadow: var(--box-shadow-lg);
    border-radius: var(--border-radius-md);
    margin-top: var(--spacing-px-12);
    display: flex;
    position: absolute;
    top: 55px;
    z-index: 22;
    transform-origin: 95% top;

    &.visible {
      animation: openDropdown 0.3s;
    }

    &.invisible {
      animation: closeDropdown 0.3s;
    }

    @keyframes openDropdown {
      from {
        transform: scale(0);
      }

      to {
        transform: scale(1);
      }
    }

    @keyframes closeDropdown {
      0% {
        transform: scale(1);
      }

      100% {
        transform: scale(0);
      }
    }

    .available-fields-wrapper__categories {
      display: flex;
      flex-direction: column;
      border-right: 1px solid var(--color-border-default);
      width: 250px;
      overflow-y: auto;
      border-radius: var(--border-radius-md) 0 0 var(--border-radius-md);
      padding: var(--spacing-px-6);
      gap: var(--spacing-px-3);

      .field-category {
        background-color: var(--color-white);
        border-radius: var(--border-radius-sm);

        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: var(--spacing-px-18) var(--spacing-px-12);
        cursor: pointer;

        &:hover {
          background-color: var(--color-gray-50);
        }

        &--active {
          background-color: var(--color-primary-50);
          color: var(--color-primary-500);
        }

        &:last-child {
          border-bottom: none;
        }
      }
    }

    .available-fields-wrapper__fields {
      display: flex;
      flex-direction: column;
      padding: var(--spacing-px-12);
      width: 300px;

      .search {
        background-color: var(--color-white);
        padding: var(--spacing-px-6);
        position: sticky;

        input {
          width: 100%;
        }
      }

      .fields-list {
        //It would be better to turn this value into a dynamic value
        //Based on the number of categories passed to the table: (n * height of each category) - search bar height
        max-height: 488px;

        // shortcut not used for Safari support -_-
        overflow-x: hidden;
        overflow-y: auto;

        .cluster-name::first-letter {
          text-transform: capitalize;
        }

        .field {
          border-radius: var(--border-radius-sm);
          color: var(--color-gray-900);
          min-width: 270px;
          padding: var(--spacing-px-6);
          display: flex;
          text-transform: capitalize;

          &--visible {
            font-weight: bold;
          }

          &:hover {
            background-color: var(--color-gray-100);
            cursor: pointer;
          }
        }
      }
    }
  }
}