@import 'oss-components';

/*
 * Hypertable's Upper Header
 * ========================
 * Access to actions allowing the user to modify the current state of the
 * datatable.
 *
 */
.hypertable__upper-header {
  padding: @spacing-xx-sm;
  display: flex;
  justify-content: space-between;
  position: relative;

  .left-side {
    display: flex;
    flex-grow: 1;
  }

  /*
   * Search
   * ======
   *
   */
  .left-side {
    input {
      max-width: 250px;
    }
  }

  /*
   * Contextual Actions
   * ===========
   * Contextual actions that show up to act on the selected items
   *
   */
  .left-side .contextual-actions {
    border-left: 1px solid lighten(@upf-gray, 15%);
    opacity: 0;
    z-index: -1;
    animation: none;

    margin-left: @spacing-sm;
    padding: 0 @spacing-sm;

    &--no-search-sibling {
      border-left: 0;
      margin-left: 0;
      padding: 0;
    }

    &--no-animation {
      display: none !important;
    }

    &--hidden {
      animation: hide-contextual-actions .5s 1;
    }

    &--visible {
      animation: show-contextual-actions .5s 1;
      z-index: 1;
      opacity: 1;
      display: block;
    }
  }

  /*
   * Available Fields
   * =================
   * Access all available fields and toggle their visibility in the table
   *
   */
  .available-fields-wrapper {
    background-color: #fff;
    border: 2px solid lighten(@upf-gray, 15%);
    border-radius: @default-radius;

    display: flex;
    flex-direction: row;

    position: absolute;
    top: 55px;
    right: 0;
    z-index: 99999;

    .available-fields-wrapper__categories {
      background-color: @upf-gray-light;
      border-right: 1px solid lighten(@upf-gray, 15%);
      min-width: 200px;

      .field-category {
        background-color: #fff;
        border-bottom: 1px solid lighten(@upf-gray, 15%);
        font-size: 16/@rem;

        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: @spacing-sm @spacing-xx-sm;
        cursor: pointer;

        &:hover,
        &--active {
          background-color: @upf-gray-light;
        }
      }
    }

    .available-fields-wrapper__fields {
      flex-direction: column;
      flex-grow: 1;
      padding: @spacing-xx-sm;

      .search {
        background-color: #fff;
        padding: @spacing-xxx-sm;
        position: sticky;

        input {
          width: 100%;
        }
      }

      .fields-list {
        height: 200px;
        max-height: 200px;
        overflow: hidden scroll;

        .field {
          border-radius: @default-radius;
          color: @color-text;
          min-width: 270px;
          padding: @spacing-xxx-sm;
          display: flex;

          &:hover {
            background-color: @upf-gray-light;
            cursor: pointer;
          }

          &.field:not(.visible) {
            color: @color-text-lighter;
          }
        }
      }

      ::-webkit-scrollbar {
        display: none;
      }
    }

    &:before,
    &:after {
      content:'';
      position: absolute;
      bottom: 100%;
      right: 30px;
      width: 0;
      height: 0;
      border-style: solid;
    }

    &:after {
      border-color: transparent transparent lighten(@upf-gray, 15%) transparent;
      border-width: 8px;
    }

    &:before {
      border-color: transparent transparent lighten(@upf-gray, 15%) transparent;
      border-width: 10px;
      right: 28.5px
    }
  }
}
