@import 'oss-components';

@import "animations";

.hypertable-container {
  width: 100%;
}

.hypertable {
  display: flex;
  overflow-x: auto;
  height: 100%;
}

@import "header";
@import "inner-table";
@import "footer";

.hypertable__state {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  height: 90%;
  width: 100%;
}
