@import 'oss-components';

@import "animations";

.hypertable-container {
  width: 100%;
}

.hypertable {
  display: flex;
  overflow-x: auto;
  height: 100%;
  scroll-behavior: smooth;
}

@import "header";
@import "inner-table";
@import "footer";

.hypertable__state {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 10;

  top: @cell-height;
  height: calc(100% - @cell-height);
  width: 100%;

  img {
      padding: 0;
  }

  &--empty {
    position: absolute;
  }
}

.hypertable__infinity-loader {
  height: 1px;
  width: 1px;
  opacity: 0;
}
