@import 'oss-components';

@import "animations";

.hypertable-container {
  border: 1px solid lighten(@upf-gray, 15%);
  border-radius: @default-radius;
  width: 100%;
}

.hypertable {
  display: flex;
}

@import "header";
@import "inner-table";
@import "footer";

.hypertable__state {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  width: 100%;
}
