@import 'oss-components';
@import 'columns';
@import 'cells';

.hypertable__table {
  border: 1px solid var(--color-border-default);
  border-radius: var(--border-radius-lg);
  height: 700px;
  overflow: auto;
  position: relative;
  z-index: 1;
  display: flex;

  &.hypertable__table--v2 {
    height: 100%;
  }
}

.hypertable__table--empty {
  overflow: hidden;
}

.hypertable__sticky-columns {
  display: flex;
  left: 0;
  position: sticky;
  z-index: 20;

  .hypertable__cell,
  header {
    border-right: 1px solid var(--color-border-default);
  }

  header {
    border-right: 1px solid var(--color-border-default);
  }

  &:nth-child(2) header {
    border-right: none;
  }

  &:first-child {
    header {
      border-left: none;
    }
  }

  .hypertable__column header {
    cursor: pointer;
  }
}

.hypertable__backdrop {
  background-color: transparent;
  cursor: pointer;

  height: calc(100% - @cell-height);
  position: absolute;
  width: 100%;
  top: 60px;
  z-index: 7;
}
