@import 'oss-components';

.hypertable__table {
  border: 1px solid lighten(@upf-gray, 15%);
  border-top: none;
  border-radius: @default-radius;
  height: 700px;
  overflow: auto;
  position: relative;
  z-index: 1;

  &.hypertable__table--v2 {
    height: 100%;
  }
}

.hypertable__table--empty {
  overflow: hidden;
}

.hypertable__sticky-columns {
  display: flex;
  left: 0;
  position: sticky;
  flex-grow: 1;
  z-index: 20;

  .hypertable__cell,
  header {
    border-right: 1px solid lighten(@upf-gray, 15%);
  }

  header {
    border-right: 1px solid darken(@upf-gray-light, 10%);
  }

  &:nth-child(2) header {
    border-right: none;
  }
  &:first-child {
    header {
      border-left: none;
    }
  }
}

.hypertable__backdrop {
  background-color: transparent;
  cursor: pointer;

  height: calc(100% - @cell-height);
  position: absolute;
  width: 100%;
  top: 60px;
  z-index: 7;
}

@import 'columns';
@import 'cells';
