{{#if (and this.emptyValue (or (not this.editStatus.status) this.isSuccess))}}
  {{or this.column.field.emptyState "—"}}
{{else}}
  <div class="editing-input">
    <div class="text-value" {{enable-tooltip title=(format-money this.amount this.item.currency) placement="bottom"}}>
      {{if this.emptyValue (or this.column.field.emptyState "—") (format-money this.amount this.currency)}}
    </div>
  </div>
{{/if}}