<div class="fx-col fx-gap-px-6">
  <label>{{this.label}}</label>
  <div class="fx-col fx-gap-px-3" ...attributes>
    {{#each-in this.existenceFilters as |label value|}}
      <div class="fx-row fx-gap-px-6" role="button" {{on "click" (fn this.existenceFilterChanged value)}}>
        <OSS::RadioButton @selected={{eq this.currentExistenceFilter value}} />
        <span class="font-color-gray-900">{{label}}</span>
      </div>
    {{/each-in}}
  </div>
</div>