<div class="fx-col" ...attributes>
  <label>{{@label}}</label>
  <OSS::ToggleButtons
    @toggles={{this.toggles}}
    @selectedToggle={{this.currentOrderingDirection}}
    @onSelection={{this.orderingDirectionChanged}}
  />
</div>