{{#if emptyValue}}
  —
{{else}}
  <div class="editing-input" style="">
    {{ember-flatpickr
        onChange=(action "updateDate")
        onOpen=(action "toggleEditing")
        onClose=(action "onCalendarClose")
        date=(readonly _formattedDate)
        altInput=true
        getFlatpickrRef=(action (mut flatpickrRef))}}
    {{#unless isEditing}}
      <i class="fa fa-pencil margin-left-xxx-sm" onclick={{action "toggleEditing"}}/>
    {{/unless}}
  </div>
{{/if}}
