<div>
  {{upf-image src=imageURL classNames="upf-image--round-36"}}
</div>

{{#if (gt column.labels.length 0)}}
  <div>
    {{#each column.labels as |label|}}
      <span data-toggle="tooltip" data-title={{get item label}}>
        {{get item label}}
      </span>
    {{/each}}
  </div>
{{/if}}
