{{#if emptyValue}}
  —
{{else}}
  <div class="list-container">
    <div>
      {{get value '0'}}
    </div>
    {{#if length}}
      <div class="text-color-default-light margin-left-sm" data-toggle="tooltip" data-html="true" data-title={{formattedList}} data-placement="bottom">
        +{{length}} more
      </div>
    {{/if}}
  </div>
{{/if}}
