{{#if emptyValue}}
  —
{{else}}
  <div class="editing-input padding-xx-sm">
    <span>
      {{get value '0'}}
    </span>
    {{#if length}}
      <span class="text-color-default-light" data-toggle="tooltip" data-title={{value}} data-placement="bottom">
        +{{length}} more
      </span>
    {{/if}}
  </div>
{{/if}}
