<div class="editing-input">
  {{upf-rating rating=value onRatingChange=(action "setRating")}}
</div>

{{#if isUpsertable}}
  <div class="status-container margin-left-x-sm text-color-default-lighter">
    {{#if isSaving}}
      {{loading-state}}
    {{else if isSuccess}}
      <i class="fa fa-pencil delayed hidden"></i>
      <span class="text-color-success upf-icon upf-icon--check text-size-6"></span>
    {{/if}}
  </div>
{{/if}}
