<div class="padding-sm">
  <HyperTableV2 @handler={{this.handler}}>
    <:search>
      <OSS::InputContainer style="width: 200px" @value={{this.searchQuery}}
                           @placeholder="Custom Search Block" @onChange={{this.onCustomSearchInput}} />
    </:search>
  </HyperTableV2>
</div>
