<div class="padding-lg">
  {{hyper-table
    manager=tableManager collection=collection options=tableOptions
    contextualActions="contextual-actions"
    hooks=(hash
           onColumnsChange=(action "columnsChanged")
           onSearchQueryChange=(action "performSearch"))}}
</div>
