{{#if this.value}}
  <div class="fx-row fx-1 fx-malign-end text-value" {{enable-tooltip title=(format-numeric this.value) placement="bottom"}}>
    {{format-number this.value}}
  </div>
{{else}}
  <div class="fx-row fx-1 fx-malign-start">
    {{or @column.field.emptyState '—'}}
  </div>
{{/if}}
