{{#if this.value}}
  <span class="text-ellipsis" {{enable-tooltip title=this.value placement="top"}}>
    {{this.value}}
  </span>
{{else}}
  <span class="font-color-gray-500">
    —
  </span>
{{/if}}